<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Movie Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Cover Image</th>
        <th>Title</th>
        <th>Won an Oscar</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td><img width="120" th:src="${movie.coverImage}"/></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.wonOscar}"></td>
        <td th:text="${movie.year}"></td>
    </tr>

    <form method="post" th:action="@{/movies}" th:object="${movie}">
        <tr>
            <td> URL: <input name="coverImage" th:field="*{coverImage}" type="text"/>
                <span class="text-danger" th:if="${#fields.hasErrors('coverImage')}" th:errors="*{coverImage}"></span>
            </td>
            <td><input name="title" th:field="*{title}" type="text"/></td>
            <td><input name="wonOscar" th:field="*{wonOscar}" type="checkbox"></td>
            <td><input name="year" th:field="*{year}" type="text"></td>
            <td>
                <button>Create</button>
            </td>
        </tr>
    </form>

    </tbody>

</table>

</body>
</html>